hr {
 background-color: orange;
 color: orange;
 border: solid 2px orange;
 height: 3px !important;
}

body {
 background-color: #6C5B7B;
 color: white;
}

#quote-box {
 display: inline-block;
 width: 80%;
 height: 200px;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 50px;
 /*background-color: teal;*/
 /*opacity: 0.4;*/
 color: white !important;
 font-size: 20px;
}

#quote-author {
 margin-top: 8%;
 margin-left: 50%;
}

footer {
 margin-top: 20%;
 color: black;
}
